
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: "kinto-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fullscreen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.fullscreen-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    position: absolute;
    padding: 15px 40px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 10;
    letter-spacing: 2px;
    bottom: 110px;
}

#enter-button {
    font-family: "superclarendon", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 32px;
    transform: translateY(-50px);

    color: black;
    -webkit-text-stroke: 4px transparent;
    background: linear-gradient(90deg, 
        #fff9c4 0%,
        #ffffff 50%,
        #fff9c4 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    
    text-shadow: 
        2px 2px 0 #fff9c4,
        -2px 2px 0 #ffffff,
        2px -2px 0 #fff9c4,
        -2px -2px 0 #ffffff;
        
    transition: all 0.3s ease;
}

#enter-button:hover {
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#popup-button {
    font-family: "kinto-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(90deg, 
        #fff9c4 0%,
        #ffffff 50%,
        #fff9c4 100%
    );
    text-shadow: 0 0 10px white;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#popup-button:hover {
    text-shadow: 0 0 30px white;
}

.button.clicked {
    animation: clickEffect 0.5s ease;
}

@keyframes clickEffect {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from { 
        opacity: 0;
        transform: translateY(20px);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1s ease forwards;
}



.top-text {
    position: absolute;
    bottom: 170px;
    position: center;
    transform: translateX(-50%);
    font-family: "kinto-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: white;
    z-index: 10;
}
